.DS_Store
*.swp
*~.nib

build/
archives/
output/
deploy/

*.pbxuser
*.perspective
*.perspectivev3
*.pbxproj.mergesave

xcuserdata
*.xcuserdatad
*.xcuserstate

AviarySDK.xcodeproj/xcuserdata/*
AviarySDK.xcodeproj/project.xcworkspace/xcuserdata/*
AviarySDK.xcodeproj/project.xcworkspace/xcuserdata/*/*

*.pyc

AviarySDK/Resources/AviarySDKAssets.plist